/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.idea/
/district-server-smart-contracts.iml
/figwheel_server.log
/tests-compiled/
/node_modules/
/resources/public/contracts/build/
